<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>{{ title }}</title>
  <link rel="icon" href="../assets/frontend/images/favicon.png" type="image/*" sizes="16x16">
  @include('partials/admin/style')
  @!section('styles')
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

  @include('partials/admin/navbar')
  @include('partials/admin/sidebar')

  <div class="content-wrapper">

    @!section('body')

  </div>



  @include('partials/admin/footer')
</div>


@include('partials/admin/script')
@!section('scripts')
</body>
</html>

